{
  "presets": [["airbnb", {
    "targets": {
      "node": "current"
    }
  }]],
  "plugins": [
    "add-module-exports",
    ["transform-replace-object-assign", { "moduleSpecifier": "object.assign" }],
  ]
}
